.location-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.react-datepicker2__navigation {
  background-color: transparent;
  border: none !important;
  color: black !important;
}

.detail {
  margin: -2px 42px;
  font-size: 14px;
  font-weight: 500;
  color: #0000008f;
}

.images-container {
  display: flex;
  width: 100%;
}

.react-datepicker__day-name {
  margin-top: 20px;
}

.react-datepicker__clear-button {
  display: none;
}

.custom-clear-text {
  color: #000000c0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: underline;
}

.main-image {
  width: 630px;
  height: 358px;
  border-radius: 5px;
  margin-right: 15px;
}

.small-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 44%;
}

.small-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 165px;
  right: 125px;


}
.share{
margin:2px   9px;

}
.save{
  margin:2px   2px;
  
  }

.property-description {
  font-size: 24px;
  font-weight: 600;
  color: rgb(247, 7, 7);
}

.property-info {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid rgba(224, 224, 224, 0.815);
  padding: 10px;
  gap: 6px;
}

.amenities-btn {
  width: 170px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(39, 39, 39);
  margin-top: 30px;
  padding: 5px;
}

.amenities-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.property-info span {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: -3px;
}

.property-info span p {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.property-info span svg {
  margin-right: 10px;
}

.icon-text {
  display: inline-block;
  line-height: 1.5;
  margin-left: 12px;
  font-weight: 600;
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: -5px;
  border-bottom: 10px solid white;
}

.property-amenities1 {
  color: rgba(0, 0, 0, 0.651);
  font-size: 13px;
  font-weight: 600;
  margin: 3px 3px;
  border-bottom: 10px solid white;
}

.main3 {
  color: black;
  border-top: 30px solid white;
  display: flex;
}

.right-section {
  margin: -10px -8px;
  color: rgba(0, 0, 0, 0.781);
  cursor: pointer;
  height: 16px;
}

h3 {
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.amenities-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.amenities-list li {
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sections-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.main2 {
  margin-bottom: -26px;
}

.left-section-area,
.right-section-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 35px;
}

.right-section-area {
  margin-right: 160px;
}

.offers-icon {
  color: rgb(0, 0, 0);
  height: 24px;
}

.left-section-area span,
.right-section-area span {
  display: flex;
  align-items: center;
}

.left-section-area span p,
.right-section-area span p {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.705);
}

.garden-view,
.pets-allowed,
.wifi,
.air-conditioning,
.kitchen,
.dryer,
.security-camera,
.refrigerator,
.washing-machine,
.swimming-pool {
  margin-bottom: 10px;
}

.small-sleep-image {
  height: 275px;
  width: auto;
  border-radius: 6px;
  margin: 10px 5px;
}

.main {
  color: rgb(0, 0, 0);
  font-size: 15px;
  display: flex;
  margin-left: 5px;
}

.sub-main {
  color: rgba(65, 64, 64, 0.781);
  margin-left: 5px;
  font-size: 14px;
}

.super-host1 {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 18px;
  display: inline-block;
}

.checkin-dates {
  color: #00000091;
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-span {
  display: flex;
  justify-content: space-between;
}

.date-pickers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.datepicker {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5%;
  width: 180px;
}

.location-details .star1 {
  height: 15px;
  color: rgba(212, 46, 46, 0.781);
  margin-bottom: -2px;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border: none !important;
  background-color: transparent !important;
}

.react-datepicker__day-name {
  border: none !important;
}

.react-datepicker {
  background-color: rgba(255, 255, 255, 0.932);
  border: 1px solid rgb(175, 175, 175);
  padding: 10px;
}

.reserve {
  margin-left: 710px;
  margin-top: -415px;
  width: 440px;
  height: 480px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border-bottom: 10px solid white;
}

.reserve h6 {
  color: rgba(75, 75, 75, 0.767);
  margin-left: -5px;
  font-size: 12px;
  font-weight: 600;
}

.reserve svg {
  color: rgba(41, 40, 40, 0.623);
  height: 18px;
}

.reserve-section-calculator {
  border: 1px solid #cccccc;
  color: black;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(78, 78, 78, 0.438);
  border-radius: 5px;
  position: relative;
  height: 100%;
}

.react-datepicker2__navigation {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}

.react-datepicker {
  background-color: rgba(255, 255, 255, 0.932);
  border: 1px solid rgb(175, 175, 175);
  padding: 10px;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border: none !important;
  background-color: transparent !important;
}

.react-datepicker__day-name {
  border: none !important;
}

.react-datepicker__clear-button {
  display: none !important;
}

.datepicker2::placeholder {
  color: rgba(26, 26, 26, 0.884);
  padding-left: 28px;
}

.datepicker2 {
  width: 170px;
  max-width: 130px;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.date-pickers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.reserve-btn1 {
  border: none;
  height: 44px;
  width: 100%;
  font-weight: 600;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.856);
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(219, 21, 21, 0.849);
  margin-top: 14px;
}

.reserve-btn1:hover {
  background-color: rgba(196, 34, 34, 0.87);
  cursor: pointer;
}

.reserve-calculator-reviews h4 {
  margin-top: -8px;
  display: flex;
  margin-left: -26px;
}

.reserve h5 {
  color: rgba(0, 0, 0, 0.836);
  margin-top: -6px;
  font-size: 15px;
}

.reserve-calculator-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reserve-calculator-reviews1 svg {
  color: rgba(0, 0, 0, 0.774);
  margin-bottom: 2px;
}

.reserve-section-calculator p {
  color: #000000d5;
  font-size: 12px;
}

.reserve-lower-section .discount {
  color: red;
}

.total-section h1 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.total-section h1:last-child {
  font-size: 20px;
  font-weight: 700;
  color: green;
}

.prop-description {
  display: block;
  color: rgba(0, 0, 0, 0.849);
  width: 620px;
  font-size: 14px;
  margin-top: -88px;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
  margin-left: 10px;
}

.prop-description1 {
  display: flex;
  color: rgba(54, 54, 54, 0.918);
  font-weight: 600;
  font-size: 14px;
  margin-top: -6px;
  margin-left: 10px;
  text-decoration: underline;
}

.reserve .reserve-calculator-reviews1 {
  margin-left: 125px;
}

.dates-section {
  display: flex;
  justify-content: space-between;
}

.reserve-lower-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.reserve-lower-section span {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: -15px;
}

.reserve-lower-section h3 {
  margin: 0;
  font-weight: bold;
}

.reserve-lower-section h1 {
  color: rgba(235, 0, 0, 0.877);
  font-size: 16px;
  margin-top: 20px;
}

.reserve-lower-section span p {
  font-size: 14px;
  color: rgba(34, 34, 34, 0.685);
}

.checkin-dates {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-pickers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.custom-clear-text {
  color: #000000c0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: underline;
}

.property-profile-pic {
  height: 40px;
  width: 45px;
  border-radius: 50%;
  margin-left: 380px;
}

.total-section {
  margin-top: 2px;
  border-top: 1px solid rgba(110, 110, 110, 0.582);
  font-weight: bold;
}

.reserve-lower-section .discount {
  color: rgba(0, 188, 201, 0.664);
}

.guest-input {
  margin-bottom: -5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40px;
  height: 12px;
  color: rgba(0, 0, 0, 0.644);
}

.location-details h2 {
  margin-left: 4px;
}
