.second-footer {
    height: 15px;
    color: rgba(233, 233, 233, 0.767);
    font-size: 10px;
    margin-left: -110px;
  }
  
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .social-media p {
    display: flex;
    align-items: center;
    margin-right: 15px; 
  }
  
  .social-media img {
    width: 20px; 
    height: 20px;
    margin-right: 5px; 
  }
  
  .social-media img:last-child {
    margin-right: 0; 
  }
  
  .social-media p img {
    margin-right: 5px; 
  }
  
  .footer-info p {
    margin: 0; 
  }

  .footer-info p:last-child {
    margin-left: 10px; 
  }
  
  .footer-info p:first-child {
    margin-left: 70px; 
  }
  